@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  right: 0px;
  top: 64px;
  background-color: #2F80ED;
  z-index: 0;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}


