.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
/*  position: absolute; "esta propriedade é exclusiva da logo_place_header" */
  z-index: 1;
}

.logo_place_header {
  position: absolute; /*correção*/
  width: 154px; /*correção*/
  height: 31px; /*correção*/
  top: 30px;
  left: 64px;
}

.header {
  overflow: auto;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
/*  align-items: center; "remova esta propriedade" */
  background-color: #F2F2F2;
}

.header__title {
  align-self: center; /*correção*/
  width: 730px;
/*  height: 96px; "remova esta propriedade" */
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  margin-top: 0px; /*correção*/
  margin-bottom: 0px; /*correção*/
}

.header__subtitle {
  position: absolute;
  width: 388px;
/*  height: 25px; "remova esta propriedade" */
  font-size: 18px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  margin-top: 0px; /*correção*/
  margin-bottom: 0px; /*correção*/
}

.header__link {
  display: flex; /*correção*/
/* qual valor de text-decoration? */
  color: #2F80ED;
}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  right: 0px;
  top: 64px;
  background-color: #2F80ED;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center; /*é este mesmo o valor?*/
  align-items: center; /*correção*/
  margin: 100px auto 100px auto; /*correção*/
}

.two-columns {
  display: flex;
/*  position: relative;
  margin: 100px auto 100px auto; "esta classe não recebe as propriedades position e margin" */
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0px 0px 0px 0px; /*correção*/
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  display: flex; /*correção*/
  flex-direction: column; /* flex direction para column, certo? */
  gap: 20px; /* gap ou column-gap? */
  width: 80%;
  min-width: 784px;
  text-indent: 0px;
  /* "esta classe não recebe a propriedade text-align, será que se refere ao text-indent? */
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0px 0px 0px 0px; /* "todas as margens devem ser 0" */
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
/*  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-top: 100px; "esta classe não receve estas propriedades" */
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px; /*correção*/
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0px 0px 0px 0px; /* "todas as margens devem ser 0" */
}

.table {
  display: flex;
/*  position: relative; "remova esta propriedade" */
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 0px 0px 0px; /*correção*/
  margin: 60px 0px 0px 0px;
  width: 1100px;
  row-gap: 20px;
}

.table__cell {
  margin-bottom: 60px; /* adicionei novamente esta propriedade pois os elementos não estavam
  afastados como na página do briefing */
/*  height: auto; "esta classe não recebe margin-bottom e height" */
  width: 250px;
  list-style-type: none;
}

.cell__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0px 0px 0px 0px; /*correção*/
}

.cell__text {
  margin: 0px 0px 0px 0px; /*correção*/
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.cell__text_span-accent { /*não sei se devia, mas só consegui fazer deste jeito*/
  margin-top: 20px;
}

.feynman {
  display: flex;
  position: relative;
  background-color: #F2F2F2;
  padding-top: 100px;
  flex-direction: column;
  height: 790px;
  align-items: center;
  z-index: -1;
}

.feynman__title {
  text-align: center;
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 70px;
/*  top: 100px; "remova esta propriedade" */
}

.feynman__subtitle {
  height: 51px;
  font-size: 36px;
  font-weight: normal;
/*  top: 170px; "remova esta propriedade" */
  text-align: center;
}

.feynman__link {
  color: #2F80ED;
/*  text-decoration --qual o valor?-- */
  position: absolute;
  top: 50%;
  right:48px;
  height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__image {
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-position: bottom 0px left 0px;
  z-index: -1;
}

.kaufman {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
/*  margin-top: 100px; "remova esta propriedade" */
  overflow: hidden;
  background-color: #1F1F1F;
}

.section-title_theme_dark {
  color: white;
/*  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0px; "esta classe receve apenas a propriedade color" */
}

.section-subtitle_theme_dark {
  color: white;
/*  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0px; "esta classe receve apenas a propriedade color" */
}

.table_theme_dark {
/*  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto 90px auto; "esta classe propriedade recebe apenas as propriedades
  row-gap e margin-top" */
  row-gap: 20px; /*correção*/
  margin-top: 80px; /*correção*/
}

.table__cell_theme_dark {
  width: 200px;
/*  color: white;
  margin-right: 0;
  margin-top: 80px; "esta classe não recebe estas propriedades" */
  list-style-type: none;
  z-index: 1;
}

.table__heading_theme_dark {
/*  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto auto 0; "esta classe apenas recebe as propriedades color e z-index (--pq z-index?--)*/
  color: white;
  z-index: 1; /*correção*/
}

.table__text_theme_dark {
/*  margin: 20px auto 0px auto;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal; "esta classe recebe apenas as propriedades color e z-index" */
  color: white;
  z-index: 1; /*correção*/
}

.kaufman__triangle {
  position: absolute;
  overflow: hidden;
  width: 660px;
  height: 636px;
  right: -124px;
  top: 0px; /*correção*/
}

.footer {
  display: flex; /*correção*/
  justify-content: center; /* --é este mesmo o valor?-- */
  background-color: black;
/*  margin-top: 100px; "remova esta propriedade" */
  padding-top: 60px; /*correção*/
  padding-bottom: 40px; /*correção*/
  box-sizing: 90%; /* --é este mesmo o valor?-- */
}

.footer__columns {
  display: flex;
  justify-content: space-between;
/*  margin: auto; esta classe não receve esta propriedade */
  width: 90%;
/*  min-height: 350px; foi para o footer */
}

/* nova classe, acabei não me atentando ao elemento e apenas criei uma classe já com o modificador */
.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
/*  display: flex;
  position: relative; "esta classe não recebe estas propriedades" */
  justify-content: space-between; /*correção*/
  flex-basis: 711px;
}

.footer__column_content_about {
/*  display: flex;
  position: relative;
  flex-direction: column; "remover estas propriedades" */
  row-gap: 20px;
}

.footer__column_content_social {
/*  display: flex;
  position: relative;
  flex-direction: column; "remover estas propriedades" */
  row-gap: 20px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
/*  position: absolute;
  bottom: 18px; "não recebe estas propriedades" */
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
/*  margin-top: 18px; */
  margin-bottom: 18px;
}

.footer__column-heading {
/*  display: flex; "remover esta propriedades" */
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px 0px 0px; /*correção*/
}

.footer__list {
/*  line-height: 30px;
  font-size: 18px;
  font-weight: normal; "remover estas propriedades" */
  padding: 0px;
  list-style-type: none;
  color: white;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  text-decoration-color: white;
  color: white; /*correção*/
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
