.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  position: absolute;
  z-index: 1;
}

.logo_place_header {
  top: 30px;
  left: 64px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid red;
  /* parameters for the header section */
}

.header__title {
  width: 730px;
  height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
}

.header__link {

}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0px;
  right: 0px;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  right: 0px;
  top: 64px;
  background-color: #2F80ED;
  z-index: -1;
}

.two-columns {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 100px auto;
  border: 1px solid red;
}

.two-columns__brief {
  width: 175px;
  margin-top: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
  border: 1px solid red;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  text-indent: 0px;
  border: 1px solid red;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto 30px auto;
}

.two-columns__span-accent {
  font-weight: bold;
}



/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
