.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  width: 154px;
  height: 31px;
  top: 30px;
  left: 64px;
}

.header {
  overflow: auto;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-self: auto;
  background-color: #F2F2F2;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  bottom: 30px;
  left: 64px;
}

.header__link {
  text-decoration: #2F80ED;
  /*qual display?*/
}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  right: 0px;
  top: 64px;
  background-color: #2F80ED;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin */
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin-top: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
  color: #2F80ED;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  gap: 0px; /* ver essa prop */
  width: 80%;
  min-width: 784px;
  /* quer dizer text-indent: 0px;? */

}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0px; /* rever se funciona */
}

.two-columns__span-accent {
  font-weight: bold;
}

/* including elements with key-value modifiers */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px; /*correção*/
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px; /*correção*/
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0px; /*correção*/
}

.table {
  display: flex;
  /*position: relative;*/ /*correção*/
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  padding: 0px;
  margin: 60px 0 0 0; /*correção*/
}

.table__cell {
  width: 250px;
  list-style-type: none;
}

.cell__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0; /*correção*/
}

.cell__text {
  margin: 20px 0px 0px; /*correção*/
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 790px;
  align-items: center;
  background-color: #F2F2F2; /*correção*/
  padding-top: 100px;
}

.feynman__title {
  text-align: center;
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 70px; /*correção*/
}

.feynman__subtitle {
  height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0; /*correção*/
}

.feynman__link {
  position: absolute;
  top: 50%;
  right:48px;
  height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED; /*correção*/
  text-decoration: #2F80ED; /*correção*/
}

.feynman__image {
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  width: 867px;
  height: 837px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-position: bottom 0px left 0px;
  z-index: -1;
}

.kaufman {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-top: 90px; /*correção*/
  padding-bottom: 90px; /*correção*/
  overflow: hidden;
  background-color: #1F1F1F;
}

.section-title_theme_dark {
  color: white;
  /*width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;*/ /*correção*/
}

.section-subtitle_theme_dark {
  color: white;
  /* width: 60%;
  line-height: 34px;
  font-size: 24px;
  color: white;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0px;*/ /*correção*/
}

.table_theme_dark {
  row-gap: 20px; /*correção*/
  margin-top: 80px; /*correção*/
}

.table__cell_theme_dark {
  width: 200px;
/*  color: white;
  margin-right: 0;
  margin-top: 80px;*/ /*correção*/
  list-style-type: none;
}

.table__heading_theme_dark {
  color: white;
  z-index: 1;
  /*line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 0 auto auto 0;*/ /*correção*/
}

.table__text_theme_dark {
  color: white;
  z-index: 1;
  /*margin: 20px auto 0px auto;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;*/ /*correção*/
}

.kaufman__triangle {
  top: 0px;
  position: absolute;
  overflow: hidden;
  width: 660px;
  height: 636px;
  right: -124px;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center; /*este justify?*/
/*  margin-top: 100px;*/ /*correção*/
  padding-top: 60px; /*correção*/
  padding-bottom: 40px; /*correção*/
  min-height: 350px;
/* qual box-sizing? */
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  /*margin: auto;*/ /*correção*/
  width: 90%;
  /*min-height: 350px;*/ /*correção*/
}

/*correção*//*correção*/
.footer__column {
  display: flex;
  flex-direction: column;
}
/*correção*//*correção*/


.footer__column_content_copyright {
/*  display: flex;
  position: relative;*/ /*correção*/
  justify-content: space-between; /*correção*/
  flex-basis: 711px;
}

.footer__column_content_about {
/*  display: flex;
  position: relative;
  flex-direction: column;*/ /*correção*/
  row-gap: 20px;
}

.footer__column_content_social {
/*  display: flex;
  position: relative;
  flex-direction: column;*/ /*correção*/
  row-gap: 20px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
/*position: absolute;*/ /*correção*/
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
/*bottom: 18px;*/ /*correção*/
  color: white;
  margin: 18px 0 18px; /*correção*/
}

.footer__column-heading {
/*  display: flex;*/ /*correção*/
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0px; /*correção*/
}

.footer__list {
  color: white;
/*  line-height: 30px;
  font-size: 18px;*/ /*correção*/
  padding: 0px;
  list-style-type: none;
  margin: 0px; /*correção*/
/*  font-weight: normal;*/ /*correção*/
}

.footer__column-link {
  color: white; /*correção*/
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  text-decoration-color: white;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
