.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  position: absolute;
  z-index: 1;
}

.logo_place_header {
  top: 30px;
  left: 64px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
}

.header__title {
  width: 730px;
  height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
}

.header__link {
  color: #2F80ED;
}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0px;
  right: 0px;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  right: 0px;
  top: 64px;
  background-color: #2F80ED;
  z-index: -1;
}

.two-columns {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 100px auto;
}

.two-columns__brief {
  width: 175px;
  margin-top: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  text-indent: 0px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto 30px auto;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* including elements with key-value modifiers */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-top: 100px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
}

.table {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  margin-bottom: 60px;
  width: 250px;
  height: auto;
  list-style-type: none;
}

.cell__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto auto 0;
}

.cell__text {
  margin: 20px auto 0px auto;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 790px;
  align-items: center;
}

.feynman__title {
  text-align: center;
  width: 775px;
  height: 1.15;
  font-size: 120px;
  font-weight: bold;
  top: 100px;
}

.feynman__subtitle {
  height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 170px;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right:48px;
  height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__image {
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  width: 867px;
  height: 837px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-position: bottom 0px left 0px;
  z-index: -1;
}

/* .table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}*/


